body {
  font-family: sans-serif;
}

.reviewEntry {
  margin: 2rem;
  margin-left: .35rem;
}

.profileBanner {
  display: flex;
}

.profileImage {
  border-radius: 20rem;
  width: 2rem;
  height: 2rem;
  margin-left: 0;
  border: 1px solid black;
}

.username {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: .9rem;
}

.starHeader {
  display: flex;
  align-items: center;
  height: 2rem;
}

.stars {
}

.header {
}

.date {
  color: #888888;
  font-size: .85rem;
  margin-bottom: .5rem;
}

.verified {
  color: #da5213;
  font-size: .7rem;
  font-weight: bold;
}

.commentLink {
  color: rgb(61, 121, 231);
  font-size: .8rem;
  border-right: 1px solid rgba(128, 128, 128, 0.589);
  padding-right: 1rem;
  margin-right: 1rem;
}

.useful {
  color: rgb(110, 110, 110);
  font-size: .8rem;
}

.yesNo {
  height: 1.5rem;
  width: 3rem;
  margin: auto .3rem;
  border-radius: .2rem;
  background-color: #FAFAFA; background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #FAFAFA, #dfdddd);
  background-image: -moz-linear-gradient(top, #FAFAFA, #dfdddd);
  background-image: -ms-linear-gradient(top, #FAFAFA, #dfdddd);
  background-image: -o-linear-gradient(top, #FAFAFA, #dfdddd);
  background-image: linear-gradient(to bottom, #FAFAFA, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FAFAFA, endColorstr=#dfdddd);
}